.~lock.recording_guide.docx#
brick_breaker_design.docx
brick_breaker_presenter_notes.docx
brick_breaker_presenter_notes.txt
games.py
install_requirements.py
presenter_notes_generator_notes.py
recording_guide.docx
snake_game_design.docx
snake_game_presenter_notes.docx
snake_presenter_notes.txt
video_recorder_with_notes.py
venv
recordings
